[Unit]
Description=USB hub start
After=remote-fs.target
After=syslog.target
After=multi-user.target
Requires=multi-user.target

[Service]
ExecStartPre=/bin/sleep 5
ExecStart=/usr/local/bin/usb_hub_start.sh

[Install]
WantedBy=multi-user.target
