[Unit]
Description=USB hub control
After=remote-fs.target
After=syslog.target

[Service]
ExecStartPre=/bin/sleep 5
ExecStart=/usr/local/bin/usb3_control.sh

[Install]
WantedBy=multi-user.target
