[Unit]
Description=Fan control
After=remote-fs.target
After=syslog.target

[Service]
ExecStart=/usr/local/bin/fan_control.sh

[Install]
WantedBy=multi-user.target