[Unit]
Description=Fan control
After=remote-fs.target
After=syslog.target
After=nvpmodel.service

[Service]
ExecStartPre=/bin/sleep 2
ExecStart=/usr/local/bin/fan_control.sh

[Install]
WantedBy=multi-user.target