[Unit]
Description=Ethernet switch control
After=remote-fs.target
After=syslog.target
After=multi-user.target
After=ethernet_switch_reset.service
Requires=multi-user.target

[Service]
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/python3 /usr/local/bin/ethernet_switch_control.py

[Install]
WantedBy=multi-user.target
